* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #179cf4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    width: 500px;
    padding: 35px 25px;
    border-radius: 10px;
}

.container img {
    width: 180px;
    /* height: 150px; */
}

.container h1 {
    margin: 20px 0 20px 0;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.content .column {
    border: 1px solid #999;
    border-radius: 5px;
    width: 120px;
}

.column select {
    outline: none;
    border: none;
    font-size: 18px;
}

/* .container button {
    background: linear-gradient(to left, rgb(25, 183, 227), rgb(54, 103, 248)) !important;
    height: 45px;
    width: 420px;
    border-radius: 10px;
    font-size: 19px;
} */
